<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">naranairapp</property>
		<property name="hibernate.connection.password">Nestor123</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/naranair</property>
		
		<property name="hibernate.transaction.auto_close_session">true</property>

		<property name="connection_pool_size">7</property>

		<property name="hbm2ddl.auto">update</property>
		
		<!-- Hibernatek sortzen daben sql dana printeau -->
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		<property name="use_sql_comments">false</property>

		<mapping class="domain.model.Address"/>
		<mapping class="domain.model.users.Airline"/>
		<mapping class="domain.model.Airport" />
		<mapping class="domain.model.Delay"/> 
		<mapping class="domain.model.Flight"/>
		<mapping class="domain.model.Gate" />
		<mapping class="domain.model.Lane"/>
		<mapping class="domain.model.Node" />
		<mapping class="domain.model.users.User" />
		<mapping class="domain.model.users.Passenger" />
		<mapping class="domain.model.users.Airline" />
		<mapping class="domain.model.users.Mantainance" />
		<mapping class="domain.model.users.Admin" />
		<mapping class="domain.model.users.Controller" />
		<mapping class="domain.model.Path" />
		<mapping class="domain.model.Plane"/>
		<mapping class="domain.model.PlaneMaker" />
		<mapping class="domain.model.PlaneModel" />
		<mapping class="domain.model.PlaneMovement"/>
		<mapping class="domain.model.PlaneStatus"/>
		<mapping class="domain.model.Route" />
		<mapping class="domain.model.Terminal" />
	

		<mapping class="domain.dao.HibernateGeneric" />
		<mapping class="domain.dao.DAOGate" />
		<mapping class="domain.dao.DAOPath" />
		<mapping class="domain.dao.DAOUser" />
		<mapping class="domain.dao.DAOFlight" />



	</session-factory>
</hibernate-configuration>