#flightsNavbar{
	margin-bottom:20px;
}

#terminalDrop{
	display:inline;
}

#map{
	display: block;
	height: 600px;
	width: 100%;
	margin: 0px auto;
}

#gateDrop{
	display:inline;
}

#airportInfoFilter{
	margin-bottom:20px;
	margin-left:15px;
}